ul {
  margin-bottom: 3rem;
}

#faq-answer {
  overflow: hidden;

  p {
    padding-block: 1rem;
  }
}

.open-faq {
  display: block;
}

.close-faq {
  display: none;
}

button {
  background: transparent;
  border: transparent;
}

li {
  border-bottom: 1px solid hsla(229deg, 8%, 60%, 0.45);
  padding-top: 2rem;
  padding-bottom: 1.2rem;
}

.faq-container {
  justify-content: space-between;
  align-items: center;
}

.faq-container {
  p {
    color: #232429;
  }
}
