.page {
  overflow-x: hidden;
  max-width: 1366px;
  margin-inline: auto;
  min-width: 350px;
}

.extension-list {
  flex-direction: column;
  align-items: center;
  li {
    width: 280px;
  }
}

h1,
h2,
h3,
p {
  text-align: center;
}

.hero-banner {
  margin-top: 3rem;
}

.hero-banner {
  .container {
    flex-direction: column;
  }
}

.hero-banner--theme-cover {
  order: 1;
  height: 200px;
}

.hero-banner--theme-cover,
.feature-image {
  position: relative;
  z-index: 1;
}

.feature-image {
  height: 320px;
}

.feature-image::after,
.hero-banner--theme-cover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background: var(--bg-primary);
  bottom: 100%;
  z-index: -1;
}

.hero-banner--theme-cover::after {
  left: 20%;
  border-bottom-left-radius: 80px;
  height: 175px;
  top: 30px;
}

.feature-image::after {
  height: 185px;
}

.feature-image::after {
  left: -20%;
  border-bottom-right-radius: 80px;
}

.feature-image-1::after {
  top: 35px;
}

.feature-image-2 {
  height: 365px;
}

.feature-image-2::after {
  top: 80px;
}

.feature-image-3 {
  height: 365px;
}

.feature-image-3::after {
  top: 80px;
}

.hero-banner--description {
  order: 2;
  margin-top: 3rem;

  p {
    margin-block-start: 1.5rem;
    margin-block-end: 2rem;
  }
}

.hero-banner--action-btns {
  gap: 1rem;
  justify-content: center;
}

.features,
.extensions,
.faq {
  margin-top: 10rem;
}

.features--description {
  p {
    margin-block-start: 1.5rem;
    margin-block-end: 2rem;
  }
}

.feature-description,
.extensions,
.faq {
  p {
    margin-top: 1rem;
  }
}

.features--tab {
  margin-bottom: 5rem;
}

.features--tab {
  ul {
    flex-direction: column;
  }
}

.features--tab {
  li:last-child {
    border-bottom: 1px solid hsl(229deg 8% 60% / 45%);
  }
}

.features--tab {
  li {
    border-top: 1px solid hsl(229deg 8% 60% / 45%);
    text-align: center;
  }
}

.btn-tab {
  position: relative;
  line-height: 3.5;
  width: calc(100% - 10vmax);
  background: transparent;
  border: transparent;
  font-size: 1rem;
}

.active-tab {
  color: #232429;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 55%;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    height: 0.2rem;
    background: var(--btn-secondary);
  }
}

.faqs {
  margin-top: 3rem;
}

.contact-us {
  margin-top: 8rem;
  background: var(--bg-primary);
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: var(--secondary);
  text-align: center;
}

.record {
  h4 {
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--secondary);
    letter-spacing: 0.2rem;
  }
}

.contact-us {
  h3 {
    color: var(--secondary);
  }
}

form {
  margin-top: 2rem;
}

.input-container {
  width: 100%;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  padding-left: 1rem;
  padding-right: 1rem;
}

.input-container {
  img {
    width: 20px;
    object-fit: cover;
  }
}

input[type="email"] {
  height: inherit;
  width: inherit;
  border: transparent;
  font-size: 0.9rem;
  color: #232429;
  background: transparent;
}

input::placeholder {
  color: var(--primary);
}

.error-block {
  text-align: left;
  background: hsl(0, 94%, 66%);
  padding: 0.3rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

form {
  button {
    background: var(--btn-secondary);
    color: var(--secondary);
    width: 100%;
    border-radius: 5px;
    padding: 0.96rem 0;
    border: transparent;
  }
}

.form {
  margin-bottom: 1rem;
}

@media (min-width: 360px) {
  .hero-banner--theme-cover {
    height: 215px;
  }

  .hero-banner--theme-cover::after {
    top: 45px;
  }

  .feature-image-1::after {
    top: 55px;
  }

  .feature-image-2::after,
  .feature-image-3::after {
    top: 110px;
  }
}

@media (min-width: 375px) {
  .hero-banner--theme-cover {
    height: 230px;
  }

  .hero-banner--theme-cover::after {
    top: 60px;
  }

  .feature-image-1 {
    height: 355px;
  }

  .feature-image-1::after {
    top: 70px;
  }

  .feature-image-2 {
    height: 415px;
  }

  .feature-image-2::after {
    top: 125px;
  }

  .feature-image-3 {
    height: 405px;
  }

  .feature-image-3::after {
    top: 130px;
  }
}

@media (min-width: 414px) {
  .hero-banner--theme-cover {
    height: 250px;
  }

  .hero-banner--theme-cover::after {
    top: 75px;
  }

  .feature-image-1 {
    height: 375px;
  }

  .feature-image-1::after {
    top: 90px;
  }

  .feature-image-2 {
    height: 430px;
  }

  .feature-image-2::after {
    top: 150px;
  }

  .feature-image-3 {
    height: 415px;
  }

  .feature-image-3::after {
    top: 150px;
  }

  .features--tab {
    button {
      font-size: 1.1rem;
    }
  }
}
