<main>
  <section class="hero-banner">
    <div class="container">
      <div class="hero-banner--description">
        <h1>A Simple Bookmark Manager</h1>
        <p>
          A clean and simple interface to organize your favourite websites. Open
          a new browser tab and see your sites load instantly. Try it for free.
        </p>
        <div class="hero-banner--action-btns">
          <app-button
            btnClass="btn-blue btn-tt"
            value="Get it on Chrome"
          ></app-button>
          <app-button
            btnClass="btn-transparent"
            value="Get it on Firefox"
          ></app-button>
        </div>
      </div>
      <div class="hero-banner--theme-cover">
        <img src="../../../assets/images/illustration-hero.svg" alt="" />
      </div>
    </div>
  </section>
  <section class="features">
    <div class="container">
      <div class="features--description">
        <h2>Features</h2>
        <p>
          Our aim is to make it quick and easy for you to access your favourite
          websites. Your bookmarks sync between your devices so you can access
          them on the go.
        </p>
      </div>
      <div class="features--tab">
        <ul>
          <li>
            <button
              (click)="toggleTab(1)"
              class="btn-tab"
              [class.active-tab]="tab === 1"
            >
              Simple Bookmarking
            </button>
          </li>
          <li>
            <button
              (click)="toggleTab(2)"
              class="btn-tab"
              [class.active-tab]="tab === 2"
            >
              Speedy Searching
            </button>
          </li>
          <li>
            <button
              (click)="toggleTab(3)"
              class="btn-tab"
              [class.active-tab]="tab === 3"
            >
              Easy Sharing
            </button>
          </li>
        </ul>
      </div>
      <div class="features--feature" [ngSwitch]="tab">
        <div *ngSwitchCase="1">
          <div class="feature-image feature-image-1">
            <img
              src="../../../assets/images/illustration-features-tab-1.svg"
              alt=""
            />
          </div>
          <div class="feature-description">
            <h2>Bookmark in one click</h2>
            <p>
              Organize your bookmarks however you like. Our simple drag-and-drop
              interface gives you complete control over how you manage your
              favourite sites.
            </p>
            <app-button value="More Info" btnClass="hidden"></app-button>
          </div>
        </div>
        <div *ngSwitchCase="2">
          <div class="feature-image feature-image-2">
            <img
              src="../../../assets/images/illustration-features-tab-2.svg"
              alt=""
            />
          </div>
          <div class="feature-description">
            <h2>Bookmark in one click</h2>
            <p>
              Organize your bookmarks however you like. Our simple drag-and-drop
              interface gives you complete control over how you manage your
              favourite sites.
            </p>
            <app-button value="More Info" btnClass="hidden"></app-button>
          </div>
        </div>
        <div *ngSwitchCase="3">
          <div class="feature-image feature-image-3">
            <img
              src="../../../assets/images/illustration-features-tab-3.svg"
              alt=""
            />
          </div>
          <div class="feature-description">
            <h2>Bookmark in one click</h2>
            <p>
              Organize your bookmarks however you like. Our simple drag-and-drop
              interface gives you complete control over how you manage your
              favourite sites.
            </p>
            <app-button value="More Info" btnClass="hidden"></app-button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="extensions">
    <div class="container">
      <h2>Download the extension</h2>
      <p>
        We've got more browsers in the pipeline. Please do let us know if you've
        got a favourite you'd like us to prioritize.
      </p>
      <ul class="extension-list">
        <li>
          <app-extension-card
            browserLogo="../../../assets/images/logo-chrome.svg"
            bgDotted="../../../assets/images/bg-dots.svg"
            alt="Chrome logo"
            title="Add to Chrome"
            version="Minimum version 62"
          ></app-extension-card>
        </li>
        <li>
          <app-extension-card
            browserLogo="../../../assets/images/logo-firefox.svg"
            bgDotted="../../../assets/images/bg-dots.svg"
            alt="Firefox logo"
            title="Add to Firefox"
            version="Minimum version 55"
          ></app-extension-card>
        </li>
        <li>
          <app-extension-card
            browserLogo="../../../assets/images/logo-opera.svg"
            bgDotted="../../../assets/images/bg-dots.svg"
            alt="Opera logo"
            title="Add to Opera"
            version="Minimum version 46"
          ></app-extension-card>
        </li>
      </ul>
    </div>
  </section>
  <section class="faq">
    <div class="container">
      <h2>Frequently Asked Questions</h2>
      <p>
        Here are some of your FAQs. If you have any other questions you'd like
        answered please feel free to email us.
      </p>
      <div class="faqs">
        <app-faq></app-faq>
        <app-button btnClass="btn-blue btn-more" value="More Info"></app-button>
      </div>
    </div>
  </section>
  <section class="contact-us">
    <div class="container">
      <div class="record"><h4>35,000+ ALREADY JOINED</h4></div>
      <h3>Stay up-to-date with what we're doing</h3>
      <form>
        <div class="form">
          <div class="input-container">
            <input type="email" placeholder="Enter your email address" #email />
            <img src="../../../assets/images/icon-error.svg" alt="" />
          </div>
          <div class="error-block">
            <small><i>Whoops, make sure it's an email</i></small>
          </div>
        </div>
        <button click="contact(#email.value)">Contact Us</button>
      </form>
    </div>
  </section>
</main>
