<div class="main">
  <app-header></app-header>
  <main>
    <section class="hero-banner">
      <div class="hero-banner--description">
        <h1>A Simple Bookmark Manager</h1>
        <p>
          A clean and simple interface to organize your favourite websites. Open
          a new browser tab and see your sites load instantly. Try it for free.
        </p>
        <div class="hero-banner--action-btns">
          <app-button value="Get it on Chrome"></app-button>
          <app-button value="Get it on Firefox"></app-button>
        </div>
      </div>
      <div class="hero-banner--theme-cover"></div>
    </section>
    <section class="features">
      <div class="features--description">
        <h1>Features</h1>
        <p>
          Our aim is to make it quick and easy for you to access your favourite
          websites. Your bookmarks sync between your devices so you can access
          them on the go.
        </p>
      </div>
      <div class="features--tab">
        <ul>
          <li><a href="">Simple Bookmarking</a></li>
          <li><a href="">Speedy Searching</a></li>
          <li><a href="">Easy Sharing</a></li>
        </ul>
      </div>
      <div class="features--feature">
        <div class="feature-image"></div>
        <div class="feature-description">
          <h1>Bookmark in one click</h1>
          <p>
            Organize your bookmarks however you like. Our simple drag-and-drop
            interface gives you complete control over how you manage your
            favourite sites.
          </p>
          <app-button value="More Info"></app-button>
        </div>
      </div>
    </section>
    <section class="extensions">
      <h1>Download the extension</h1>
      <p>
        We've got more browsers in the pipeline. Please do let us know if you've
        got a favourite you'd like us to prioritize.
      </p>
      <ul class="extension-list">
        <!-- <img src="../../../assets/images/logo-chrome.svg" alt="" /> -->
        <li>
          <app-extension-card
            imgSrc="../../../assets/images/logo-chrome.svg"
            imgAlt="Chrome logo"
            title="Add to Chrome"
            version="Minimum version 62"
          ></app-extension-card>
        </li>
      </ul>
    </section>
  </main>
</div>
