.page {
  overflow-x: hidden;
  max-width: 1366px;
  margin-inline: auto;
  min-width: 350px;
}

.extension-list {
  flex-direction: column;
  align-items: center;
  li {
    width: 280px;
  }
}

h1,
h2,
h3,
p {
  text-align: center;
}

.hero-banner {
  margin-top: 3rem;
}

.hero-banner {
  .container {
    flex-direction: column;
  }
}

.hero-banner--theme-cover {
  order: 1;
  height: 200px;
}

.hero-banner--theme-cover,
.feature-image {
  position: relative;
  z-index: 1;
}

.feature-image {
  height: 320px;
}

.feature-image,
.hero-banner--theme-cover {
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background: var(--bg-primary);
    bottom: 100%;
    z-index: -1;
  }
}

.hero-banner--theme-cover {
  &::after {
    left: 20%;
    border-bottom-left-radius: 80px;
    height: 175px;
    top: 30px;
  }
}

.feature-image {
  &::after {
    height: 185px;
  }
}

.feature-image {
  &::after {
    left: -20%;
    border-bottom-right-radius: 80px;
  }
}

.feature-image-1 {
  &::after {
    top: 35px;
  }
}

.feature-image-2 {
  height: 365px;
}

.feature-image-2 {
  &::after {
    top: 80px;
  }
}

.feature-image-3 {
  height: 365px;
}

.feature-image-3 {
  &::after {
    top: 80px;
  }
}

.hero-banner--description {
  order: 2;
  margin-top: 3rem;

  p {
    margin-block-start: 1.5rem;
    margin-block-end: 2rem;
  }
}

.hero-banner--action-btns {
  gap: 1rem;
  justify-content: center;
}

.features,
.extensions,
.faq {
  margin-top: 10rem;
}

.features--description {
  p {
    margin-block-start: 1.5rem;
    margin-block-end: 2rem;
  }
}

.feature-description,
.extensions,
.faq {
  p {
    margin-top: 1rem;
  }
}

.features--tab {
  margin-bottom: 5rem;
}

.features--tab {
  ul {
    flex-direction: column;
  }
}

.features--tab {
  li:last-child {
    border-bottom: 1px solid hsl(229deg 8% 60% / 45%);
  }
}

.features--tab {
  li {
    border-top: 1px solid hsl(229deg 8% 60% / 45%);
    text-align: center;
  }
}

.btn-tab {
  position: relative;
  line-height: 3.5;
  width: calc(100% - 10vmax);
  background: transparent;
  border: transparent;
  transition: color 0.3s ease;

  &:hover {
    color: var(--btn-secondary);
  }
}

.active-tab {
  color: var(--bg-secondary);
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 55%;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    height: 0.2rem;
    background: var(--btn-secondary);
  }
}

.faqs {
  margin-top: 3rem;
}

.contact-us {
  margin-top: 8rem;
  background: var(--bg-primary);
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: var(--secondary);
  text-align: center;
}

.contact-us {
  h2 {
    color: var(--secondary);
  }
}

.record {
  p {
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--secondary);
    letter-spacing: 0.2rem;
  }
}

.contact-us {
  h3 {
    color: var(--secondary);
  }
}

@media (min-width: 360px) {
  .hero-banner--theme-cover {
    height: 215px;
  }

  .hero-banner--theme-cover {
    &::after {
      top: 45px;
    }
  }

  .feature-image-1 {
    &::after {
      top: 55px;
    }
  }

  .feature-image-2,
  .feature-image-3 {
    &::after {
      top: 110px;
    }
  }
}

@media (min-width: 375px) {
  .hero-banner--theme-cover {
    height: 230px;
  }

  .hero-banner--theme-cover {
    &::after {
      top: 60px;
    }
  }

  .feature-image-1 {
    height: 355px;
  }

  .feature-image-1 {
    &::after {
      top: 70px;
    }
  }

  .feature-image-2 {
    height: 415px;
  }

  .feature-image-2 {
    &::after {
      top: 125px;
    }
  }

  .feature-image-3 {
    height: 405px;
  }

  .feature-image-3 {
    &::after {
      top: 130px;
    }
  }
}

@media (min-width: 414px) {
  .hero-banner--theme-cover {
    height: 250px;
  }

  .hero-banner--theme-cover {
    &::after {
      top: 75px;
    }
  }

  .feature-image-1 {
    height: 375px;
  }

  .feature-image-1 {
    &::after {
      top: 90px;
    }
  }

  .feature-image-2 {
    height: 430px;
  }

  .feature-image-2 {
    &::after {
      top: 150px;
    }
  }

  .feature-image-3 {
    height: 415px;
  }

  .feature-image-3 {
    &::after {
      top: 150px;
    }
  }
}

@media (min-width: 768px) {
  .hero-banner--theme-cover,
  .feature-image-1,
  .feature-image-2,
  .feature-image-3 {
    &::after {
      display: none;
    }

    display: flex;
    justify-content: center;
    height: auto;
  }

  .hero-banner--description,
  .features--description,
  .feature-description,
  .extensions,
  .faq {
    p {
      padding-inline: 5.5rem;
    }
  }

  .feature-image-1,
  .feature-image-2,
  .feature-image-3 {
    margin-bottom: 4rem;
  }
}

@media (min-width: 800px) {
  .hero-banner--description,
  .features--description,
  .feature-description,
  .extensions,
  .faq {
    p {
      padding-inline: 7rem;
    }
  }
}

@media (min-width: 1114px) {
  .hero-banner {
    .container {
      flex-direction: row;
    }
  }

  .hero-banner--theme-cover {
    order: 2;
    flex: 1 0 auto;
  }

  .hero-banner--theme-cover {
    &::after {
      display: block;
      border-bottom-left-radius: 150px;
      height: 291px;
      top: 90px;
    }
  }

  .hero-banner--description {
    h1,
    p {
      text-align: left;
    }
  }

  .hero-banner--description {
    p {
      padding-inline: 0;
      margin-right: 5rem;
    }
  }

  .hero-banner--action-btns {
    justify-content: flex-start;
  }

  .feature-description {
    h2,
    p {
      text-align: left;
    }
  }

  .feature-description {
    margin-top: 3rem;
    p {
      padding-inline: 0;
      margin-block: 2rem;
    }
  }

  .features--description,
  .features--tab {
    margin-inline: auto;
    width: 60%;
  }

  .features--tab {
    ul {
      flex-direction: row;
      justify-content: center;
    }
  }

  .features--tab {
    li {
      border-top: none;
      flex-grow: 1;
    }

    li:last-child {
      border-bottom: none;
    }
  }

  .features--tab {
    border-bottom: 1px solid hsla(229deg, 8%, 60%, 0.45);
  }

  .btn-tab {
    width: 100%;
  }

  .active-tab {
    &::after {
      width: 100%;
    }
  }

  .features--feature {
    div:nth-child(1) {
      display: flex;
      gap: 3rem;
    }
  }

  .feature-image {
    flex: 1 0 auto;
    max-width: 500px;
  }

  .feature-image-1,
  .feature-image-2,
  .feature-image-3 {
    &::after {
      display: block;
    }
  }

  .feature-image-1 {
    &::after {
      border-bottom-right-radius: 150px;
      height: 291px;
      top: 100px;
    }
  }

  .feature-image-2 {
    margin-left: 1rem;
    &::after {
      border-bottom-right-radius: 150px;
      height: 291px;
      top: 160px;
    }
  }

  .feature-image-3 {
    margin-left: 3rem;
    &::after {
      border-bottom-right-radius: 150px;
      height: 291px;
      top: 130px;
    }
  }

  .extensions,
  .faq {
    h2,
    p {
      width: 60%;
      margin-inline: auto;
    }
  }

  .extension-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }

  .extension-list {
    li:nth-child(2) {
      margin-top: 2rem;
    }
  }

  .extension-list {
    li:nth-child(3) {
      margin-top: 4rem;
    }
  }

  .faqs,
  .contact-us h2,
  .contact-us h4 {
    width: 50%;
    margin-inline: auto;
  }
}

@media (min-width: 1280px) {
  .hero-banner--description {
    margin-right: 2rem;
  }

  .feature-description {
    p {
      margin-right: 11rem;
    }
  }

  .faqs,
  .contact-us h2,
  .contact-us h4 {
    width: 40%;
  }

  .contact-us {
    h2 {
      padding-inline: 2rem;
    }
  }
}

@media (min-width: 1366px) {
  .hero-banner--description {
    margin-right: 5rem;
  }

  .hero-banner--description {
    p {
      padding-inline: 0;
      margin-right: 5.5rem;
    }
  }
}
