@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik-VariableFont_wght.ttf);
}

// Css Variables

:root {
  --primary: hsl(229, 8%, 60%);
  --secondary: hsl(0, 0%, 100%);
  --btn-primary: hsl(231, 57%, 55%);
  --btn-secondary: hsl(0, 94%, 66%);
  --bg-primary: hsl(231, 69%, 60%);
  --bg-secondary: hsl(229, 31%, 21%);
  --bg-tertiary: hsl(0, 0%, 100%);
  --min-font-weight: 500;
  --max-font-weight: 400;
  --max-page-width: 85%;
}

// General reset
* {
  font-family: Rubik, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
a,
button {
  display: inline-block;
}

img {
  width: 100%;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: darken(hsl(229, 8%, 60%), 45);
}

h1 {
  font-size: calc((1rem + 15px));
}

h2 {
  font-size: calc((1rem + 12px));
}

h3 {
  font-size: calc((1rem + 9px));
}

p,
button {
  color: var(--primary);
}

p {
  line-height: 1.5;
}

// Global styles

.btn-login--mobile {
  width: 100%;
  border: 2px solid var(--secondary);
  background: transparent;
  color: var(--secondary);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
}

.btn--close-navbar,
.btn--open-navbar {
  background: transparent;
  border: transparent;
  margin-left: auto;
}

.container {
  width: var(--max-page-width);
  margin-inline: auto;
}

.mobile-navbar-header,
.mobile-header,
.hero-banner .container,
.hero-banner--action-btns,
.socials-media-icons,
.features--tab ul,
.extension-list,
.faq-container,
.input-container,
.footer-nav,
.socials-media-icons {
  display: flex;
}

header,
.mobile-navbar {
  padding-block: 2.5rem;
}

.btn-blue {
  background: var(--btn-primary);
  color: var(--secondary);
  border: transparent;
}

.btn-transparent {
  border: transparent;
  background: transparent;
  color: darken(hsl(229, 8%, 60%), 25);
  box-shadow: 0px 8px 15px hsl(229deg 8% 60% / 42%);
}

.hidden {
  display: none;
}

.btn-more {
  display: block;
  margin-inline: auto;
}
